<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
          background-image: url('http://all4desktop.com/data_images/original/4236532-background-images.jpg');
            border: black;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="offset-3 col-md-6">

                    {% if feedbacks %}
                    <h2>Available Feedbacks</h2>

                    {% for i in feedbacks %}

                            {% if i.rating >= 5 and i.rating <= 10 %}
                            <b>Name:{{ i.name | capfirst}}</b><br>
                            Rating:{{ i.rating }}<br>
                            Date:{{ i.date }}<br>
                            Feedback:{{ i.feedback }}<br><br>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <h2>No Feedback is Here...</h2>
                    {% endif %}


                    <form method="post">
                        {% csrf_token %}
                        <h3 style="color: black" >Please enter your form detail...</h3>
                        {{ abcd.as_p }}
                        <center>
                            <input type="submit" value="Signup">
                            <input type="reset" value="Clear">
                        </center>
                    </form>
            </div>
        </div>
    </div>
</body>
</html>